@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@layer utilities {
  .diagonal-cutoff {
    clip-path: polygon(0 0, 90% 0, 0 160%);
  }
}

html {
  font-size: 16px;
  font-weight: 300;
  background-color: #f2f2f2;
}
h1 {
  font-size: 34px;
  line-height: 40px;
}
h2 {
  font-size: 34px;
  line-height: 40px;
}
h3 {
  font-size: 28px;
  line-height: 30px;
}

.target::first-letter {
  text-decoration: underline #676767;
}

.flag::before,
.flag::after {
  content: '';
  width: 80px;
  height: 100%;
  background-color: #cc706f;

  /* position ribbon ends behind and slightly lower */
  position: absolute;
  z-index: -1;
  top: 20px;

  /* clip ribbon end shape */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

  /* draw and position the folded ribbon bit */
  background-image: linear-gradient(45deg, transparent 50%, #b85755 50%);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.flag::before {
  left: -60px;
}

.flag::after {
  right: -60px;
  transform: scaleX(-1); /* flip horizontally */
}

#book-icon path {
  fill: none;
  stroke: black;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@layer base {
  :root {
    --background: 215 18% 95%;
    --foreground: 215 5% 10%;
    --card: 215 18% 90%;
    --card-foreground: 215 5% 15%;
    --popover: 215 18% 95%;
    --popover-foreground: 215 95% 10%;
    --primary: 215 10% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 18% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 177 18% 85%;
    --muted-foreground: 215 5% 35%;
    --accent: 177 18% 80%;
    --accent-foreground: 215 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 215 5% 90%;
    --border: 215 20% 50%;
    --input: 215 20% 23%;
    --ring: 215 10% 57%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 215 18% 10%;
    --foreground: 215 5% 90%;
    --card: 215 18% 10%;
    --card-foreground: 215 5% 90%;
    --popover: 215 18% 5%;
    --popover-foreground: 215 5% 90%;
    --primary: 177 18% 23%;
    --primary-foreground: 215 5% 90%;
    --secondary: 215 18% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 177 18% 23%;
    --muted-foreground: 215 5% 60%;
    --accent: 215 10% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 215 5% 90%;
    --border: 215 20% 23%;
    --input: 215 20% 23%;
    --ring: 215 10% 57%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
